.mainTop{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bgMenuTop);
  z-index: 1000;
}

.mainTop img{
  margin-left: 15px;
  height: 40px;
  cursor: pointer;
}

.iconBar{
  margin-right: 15px;
  cursor: pointer;
}

.iconBar svg, .iconBar path{
  font-size: 32px;
  color: var(--clrFont);
  cursor: pointer;
}

.mainMenuSide{
  width: 100%;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bgMenuSide0);
  transition: all .2s;
  z-index: 10000;
}

.menuTop{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuTop:hover{
  background-color: var(--bgBox1);
}

.menuTop:active{
  background-color: var(--bgBox2);
}

.menuTop svg, .menuTop path{
  font-size: 50px;
  color: var(--clrFont);
  cursor: pointer;
}

.menuTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuTop h1{
  margin-top: 10px !important;
  font-size: 20px;
  color: var(--clrFont);
  cursor: pointer;
}

.menuList a{
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.menuList a:hover{
  background-color: var(--bgBox1);
}

.menuList a:active{
  background-color: var(--bgBox2);
}

.menuList svg, .menuList path, .menuList h1{
  font-size: 20px;
  color: var(--clrFont);
  cursor: pointer;
}

.menuList h1{
  margin-left: 5px !important;
  font-size: 14px;
  color: var(--clrFont);
}

.toggleTheme{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleTheme div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconThemeSun svg, .iconThemeSun path, .iconThemeMoon svg, .iconThemeMoon path{
  font-size: 34px;
  cursor: pointer;
}

.iconThemeMoon svg, .iconThemeMoon path{
  color: var(--clrFont);
}

.iconThemeSun svg, .iconThemeSun path{
  color: var(--bgBtnN);
}

