.section  {
  width: 100%;
  min-height: 100%;
  background-color: var(--bgModalToast);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.toast{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toast svg, .toast path{
  font-size: 64px;
  color: var(--bgBtnToast);
}

