.iconPDF{
  padding: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPDF div{
  cursor: pointer;
}

.iconPDF svg, .iconPDF path{
  font-size: 48px;
  color: var(--clrGlobalB);
  cursor: pointer;
}
