.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {


}
