.ui.mini.modal{
  padding: 20px 0 25px 0;
  max-width: 350px !important;
  background-color: var(--bgBody) !important;
}

.content, .actions{
  color: var(--clrFont) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--bgBody) !important;
}

.ui.button, .ui.button.primary{
  margin-top: 20px;
  font-weight: 200 !important;
  color: var(--clrBtn) !important;
  background-color: var(--bgBtnN) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.button.primary:hover{
  background-color: var(--bgBtnN1) !important;
}

.ui.button.primary:active, .ui.button.primary:focus{
  background-color: var(--bgBtnN2) !important;
}

.ui.button.secondary{
  margin: 20px 0 !important;
  display: flex;
  align-items: center;
  color: var(--clrBtn) !important;
  background-color: var(--bgBtnB) !important;
}

.ui.button.secondary:hover{
  background-color: var(--bgBtnB1) !important;
}

.ui.button.secondary:active, .ui.button.secondary:focus{
  background-color: var(--bgBtnB2) !important;
}


.ui.button.negative, .ui.button.negative{
  background-color: var(--clrR0) !important;
  cursor: pointer;
}

.ui.button.negative:hover{
  background-color: var(--clrR1) !important;
}

.ui.button.negative:active, .ui.button.negative:focus{
  background-color: var(--clrR2) !important;
}

@media screen and (min-width:768px) {

  .ui.button.primary, .ui.button.secondary{
    margin-top: 50px !important;
  }

}