.ui.form{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.ui.form input, .ui.form textarea{
  padding-left: 5px !important;
  width: 300px !important;
  font-size: 12.5px !important;
  color: var(--clrFont) !important;
  background-color: var(--bgInput) !important;
  border: none !important;
}

.ui.form input:focus, .ui.form textarea:focus, .ui.form select:focus{
  border-color: var(--bgInputFocus) !important;
  background-color: var(--bgInputFocus) !important;
}

.ui.form .field.field input:-webkit-autofill{
  box-shadow: 0 0 0 100px var(--bgInputAutofill) inset !important;
  border-color: var(--bgInputAutofill) !important;
  transition: none !important;
}

.ui.form .field.field input:-webkit-autofill:focus{
  box-shadow: 0 0 0 100px var(--bgInputAutofill) inset !important;
  border-color: var(--bgInputAutofill) !important;
  transition: none !important;
}

.ui.form select{
  padding-left: 1px !important;
  width: 300px !important;
  font-size: 12.5px;
  text-transform: capitalize;
  color: var(--clrFont) !important;
  background-color: var(--bgInput) !important;
} 

.ui.form option{
  color: var(--clrFont) !important;
}

.fields{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.field{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.ui.form button{
  margin-top: 30px;
}

.ui.circular.label{
  color: azure;
  font-size: 6.5px;
  cursor: pointer;
}

.ui.label{
  padding: 8px 4.5px !important;
  width: 100%;
  height: auto;
  font-size: 14px;
  color: var(--clrFont) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start;
  background-color: var(--bgBody) !important;
}

.ui.page.modals{
  background-color: rgba(34, 46, 63, 0.85);
}

.field.error input, .field.error select, .field.error textarea, .ui.form .field.error .ui.dropdown{
  border: none !important;
}

.ui.form .field.error .ui.dropdown:hover{
  border: none !important;
}

.ui.form .field.error .ui.dropdown .menu .item{
  background-color: var(--bgInput) !important;
}

.ui.form .field.error .ui.dropdown .menu .active.item{
  background-color: var(--bgInput) !important;
}

.ui.form .field.error .ui.dropdown .menu .item:hover, .ui.form .field.error .ui.dropdown .item:hover .text{
  background-color: var(--bgInputHover) !important;
}

.ui.form .field.error .ui.dropdown .text{
  border: none !important;
  background-color: var(--bgInput) !important;
} 

.ui.message{
  text-align: center;
  color: var(--bgBtnN) !important;
  background-color: var(--bgBox0) !important;
  box-shadow: none !important;
}

.rbc-agenda-view table{
  background-color: var(--bg1);
  border: none !important;
}

.rbc-agenda-table tbody > tr > td{
  background-color: var(--bg2);
  border: none !important;
}

.ui.selection.dropdown{
  width: 300px !important;
  border: none !important;
  background-color: var(--bgInput) !important;
}

.ui.dropdown .menu .item span, .ui.dropdown .text{
  text-transform: capitalize;
  cursor: pointer !important;
  color: var(--clrFont) !important;
}

.ui.dropdown{
  border: none !important;
}

.ui.dropdown .menu:focus, .ui.dropdown:focus, .ui.dropdown:active{
  background-color: var(--bgInput) !important;
  border: none !important;
}

.ui.dropdown .menu{
  border: none!important;
  background-color: var(--bgInput) !important;
}

.ui.selection.dropdown .menu>.item{
  border: none;
}

.ui.tabular.menu{
  border: none;
}

.ui.tabular.menu .item{
  color: var(--clrFont);
  background-color: var(--bgTabPane) !important;
  border: none;
}

.ui.tabular.menu .active.item{
  color: var(--clrFont);
  background-color: var(--bgTabPane1) !important;
  border: none;
}

.ui.tabular.menu .item:hover{
  color: var(--clrFont);
  background-color: var(--bgTabPane1) !important;
}


@media screen and (min-width:768px) {

  .ui.form input, .ui.form textarea, .ui.selection.dropdown{
    width: 450px !important;
  }

  .ui.form textarea{
    height: 350px;
  }

  .ui.label{
    margin-top: 20px;
  }

}


