.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
}

.addNegocio{
  padding-left: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addNegocio h1{
  font-size: 11.5px;
  color: var(--bgBtnN);
}

.addNegocio svg, .addNegocio path{
  margin-left: 5px;
  color: var(--bgBtnN);
  cursor: pointer;
}