.iconEdit{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit div{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bgBtnN);
  cursor: pointer;
}

.iconEdit div:hover{
  background-color: var(--bgBtnN1);
}

.iconEdit div:active{
  background-color: var(--bgBtnN2);
}

.iconEdit svg, .iconEdit path{
  font-size: 20px;
  color: var(--bgBody);
  cursor: pointer;
}
