.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.sectionDatos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
}

.datos_1 div, .datos_2 div{
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
}

.datos_2 div{
  align-items: flex-end !important;  
}

.datos_1 h1, .datos_2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrFont);
}

.datos_1 h2, .datos_2 h2{
  font-size: 14px;
  color: var(--clrFont);
}

.datos_2 h2{
  text-align: right;
}

.infCliente{
  margin: 0 !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.infCliente svg, .infCliente path{
  margin-left: 5px;
  color: var(--bgBtnN);
  cursor: pointer;
}

.toggleOFF, .toggleON, .descON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleON svg, .toggleOFF path, .toggleON path{
  margin-right: 5px;
  cursor: pointer;
}

.toggleON svg, .toggleON path{
  color: var(--bgBtnN);
  cursor: pointer;
}

.ivaInput, .descInput{
  margin: 0 4px;
  width: 38px !important;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: var(--clrFont);
}

.sectionTotal_1{
  width: 80%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sectionTotal_2{
  width: 40%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.total h1{
  font-weight: 600 !important;
}

.nota{
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nota h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrFont);
}

.formNota{
  margin-top: 10px;
}

.charCount{
  margin-top: 20px;
  font-size: 12px;
  color: var(--clrFont);
}

@media screen and (min-width: 768px) {

  .datos_1 div, .datos_2 div{
    margin: 15px 0; 
  }

  .sectionTotal_1 h1{
    font-size: 14px;
  }

  .nota{
    margin-top: 50px;
    max-width: 450px;
  }

}

