.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.sectionDatos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
}

.datos_1 div, .datos_2 div{
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
}

.datos_2 div{
  align-items: flex-end !important;  
}

.datos_1 h1, .datos_2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrGlobalN);
}

.datos_1 h2, .datos_2 h2{
  font-size: 14px;
  color: var(--clrGlobalG);
}

.datos_1 h2{
  text-transform: capitalize;
}

.datos_2 h2{
  text-align: right;
}

.toggleOFF, .toggleON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleON svg, .toggleOFF path, .toggleON path{
  margin-right: 5px;
  cursor: pointer;
}

.toggleON svg, .toggleON path{
  color: var(--bgBtnN);
  cursor: pointer;
}

.iconPlus{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlus div{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bgBtnN);
  cursor: pointer;
}

.iconPlus div:hover{
  background-color: var(--bgBtnN1);
}

.iconPlus div:active{
  background-color: var(--bgBtnN2);
}

.iconPlus svg, .iconPlus path{
  font-size: 18px;
  color: var(--clrBtn);
  cursor: pointer;
}

.ivaInput{
  margin: 0 4px;
  width: 38px !important;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: var(--clrGlobalG);
}

.sectionTotal_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2 h1{
  margin: 3.5px 0 !important;
}

.sectionTotal_1 h1:nth-child(3), .sectionTotal_2 h1:nth-child(3){
  font-weight: 600 !important;
}

.nota{
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nota h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrGlobalN);
}

.formNota{
  margin-top: 10px;
}

.charCount{
  margin-top: 20px;
  font-size: 12px;
  color: var(--clrGlobalG);
}

@media screen and (min-width: 768px) {

  .datos_1 div, .datos_2 div{
    margin: 15px 0; 
  }

  .sectionTotal_1 h1{
    font-size: 14px;
  }

  .nota{
    margin-top: 50px;
    max-width: 450px;
  }

}

