.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchInput{
  width: 100% !important;
  height: auto !important;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input{
  width: 280px !important;
  color: var(--clrFont) !important;
  background-color: var(--bgInput) !important;
  border-radius: 5px !important;
  border: 1px solid var(--bgInput) !important;
}

.iconSearch{
  margin-left: 10px;
  position: relative;
  cursor: pointer;
} 

.iconSearch svg, .iconSearch path{
  font-size: 28px;
  color: var(--clrFont);
  cursor: pointer;
} 

.visitaLista{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {



}