.main{
  padding: 20px 0 80px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.boxContainer{
  margin: 10px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgBox0);
  border-radius: 10%;
  cursor: pointer;
}

.boxContainer:hover{
  background-color: var(--bgBox1);
}

.boxContainer:active{
  background-color: var(--bgBox2);
}

.boxContainer svg, .boxContainer path{
  font-size: 38px;
  color: var(--bgBoxFont);
  cursor: pointer;
}

.boxContainer h1{
  margin-top: 20px !important;
  font-size: 16px;
  font-family: 'Bebas' !important;
  color: var(--bgBoxFont);
  cursor: pointer;
}