.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowMap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bgList0);
  cursor: pointer;
}

.rowMap:hover{
  background-color: var(--bgList1);
}

.rowMap:active{
  background-color: var(--bgList2);
}

.rowMap h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
  color: var(--clrFont);
  cursor: pointer;
}

.rowMap h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
}

.rowMap h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowMap h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.rowMap h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.rowMap h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
}

@media screen and (min-width: 768px) {

  .rowMap h1{
    padding: 8px 0 !important;
    font-size: 14px;
  }

  .rowMap h1:nth-child(1){
    font-size: 12.5px;
  }

  .rowMap h1:nth-child(3), .rowMap h1:nth-child(4), .rowMap h1:nth-child(5){
    font-size: 12.5px;
  }

}
