.main{
  display: flex;
  flex-direction: column;
}

.section{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowMap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bgInput);
  cursor: pointer;
}

.rowMap:hover{
  background-color: var(--bgInputFocus);
}

.rowMap h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
  color: var(--clrFont);
  cursor: pointer;
}

.rowMap h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.rowMap h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.rowMap h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
  cursor: pointer;
}

.rowMap h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}

.rowMap h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
  cursor: pointer;
}

.sectionTotal{
  padding: 20px 2px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleOFF, .toggleON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleOff svg, .toggleON svg, .toggleOn svg, .toggleOFF path, .toggleOff path, .toggleON path, .toggleOn path{
  margin-right: 5px;
  cursor: pointer;
}

.toggleON svg, .toggleOn svg, .toggleON path, .toggleOn path{
  color: var(--bgBtnN);
  cursor: pointer;
}

.ivaInput{
  margin: 0 4px;
  width: 38px !important;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: var(--clrFont);
}

.sectionTotal_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2 h1{
  margin: 4px 0 !important;
}

.sectionTotal_1 h1:nth-child(2){
  margin: 9.5px 0 !important;
}

.sectionTotal_1 h1:nth-child(3), .sectionTotal_2 h1:nth-child(3){
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {

  .toggleOff svg, .toggleOn svg{
    margin-top: 20px;
  }
  
  .box3{
    margin-top: 50px;
  }

  .box3_1 h1{
    font-size: 14px;
  }

}