.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.toggleCot{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleCot h1{
  font-size: 14px;
  color: var(--clrFont);
}

.rowMap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bgList0);
}

.rowMap:hover{
  background-color: var(--bgList1);
}

.rowMap:active{
  background-color: var(--bgList2);
}

.rowMap h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
  color: var(--clrGlobalB);
}

.rowMap h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
}

.rowMap h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowMap h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.rowMap h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.rowMap h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
}

.toggleOFF, .toggleON, .descON{
  height: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleON svg, .toggleOFF path, .toggleON path{
  margin-right: 5px;
  cursor: pointer;
}

.toggleON svg, .toggleON path{
  color: var(--bgBtnN);
  cursor: pointer;
}

.ivaInput, .descInput{
  margin: 0 4px;
  width: 36px !important;
  height: 28px !important;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: var(--clrFont);
}

.sectionTotal_1{
  width: 80%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sectionTotal_2{
  width: 40%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.total h1{
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {

  .box3{
    margin-top: 50px;
  }

}
