.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.toggleCot{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleCot h1{
  font-size: 14px;
  color: var(--clrFont);
}

.rowMap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--bgList0);
}

.rowMap:hover{
  background-color: var(--bgList1);
}

.rowMap:active{
  background-color: var(--bgList2);
}

.rowMap h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
  color: var(--clrGlobalB);
}

.rowMap h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
}

.rowMap h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowMap h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.rowMap h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.rowMap h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
}

.box3{
  padding-right: 3.5px !important;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box3_1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.box3_1_1, .box3_1_2, .box3_1_3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3_1_1 div:nth-child(2), .box3_1_2 div:nth-child(3), .box3_1_3 div:nth-child(2){
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box3_1_2 div:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3_1_1 h2, .box3_1_2 h2, .box3_1_3 h2{
  font-size: 14px;
}

.ivaInput{
  width: 38px !important;
}

@media screen and (min-width: 768px) {

  .box3{
    margin-top: 50px;
  }

}
