.addCliente{
  padding-left: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addCliente h1{
  font-size: 11.5px;
  color: var(--bgBtnN);
}

.addCliente svg, .addCliente path{
  margin-left: 5px;
  color: var(--bgBtnN);
  cursor: pointer;
}