.section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box1 h1{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrGlobalN);
}

.box1 h2{
  margin-top: 3px;
  font-size: 12.5px;
  color: var(--clrGlobalG);
}

.box1_1, .box1_2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1_1 div, .box1_2 div{
  margin: 10px 0;
}

.box1_1{
  padding-right: 10px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box1_1 h1, .box1_1 h2{
  text-align: left;
}

.box1_2{
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.box1_2 h1, .box1_2 h2{
  text-align: right;
}


